
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>酒店管理系统</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <script src="/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">管理员系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/tuichu">退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                <li><a href="#"> <i class="glyphicon glyphicon-credit-card"></i>入住管理</a></li>
                <li><a href="/datang">大堂入住</a></li>
                <li><a href="/dingdan">订单入住</a></li>
                <li><a href="/unsubscribe"><i class="glyphicon glyphicon-user"></i>退房管理</a></li>
                <li><a href="/record"><i class="glyphicon glyphicon-asterisk"></i>记录查询</a></li>
                <li><a href="/category"><i class="glyphicon glyphicon-th-list"></i>房间类别</a></li>
                <li><a href="/room"><i class="glyphicon glyphicon-fire"></i>房间管理</a></li>
                <li><a href="/roomState"><i class="glyphicon glyphicon-fire"></i>房间状态</a></li>
                <li><a href="/modify"><i class="glyphicon glyphicon-cog"></i>修改密码</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div style="padding-bottom:5px;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo">增加</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo"  id="updata">修改</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" data-whatever="@getbootstrap">删除</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" data-whatever="@getbootstrap">返回</button>
            </div>
            <!--增加新类别-->
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">新增房间类别信息</h4>
                        </div>
                        <div class="modal-body">
                            <form id="addRoomCategory">
                                <div class="row">
                                    <p class="col-lg-3">
                                        <span>房间类别：</span>
                                    </p>
                                    <p class="col-lg-8">
                                        <input type="text" name="sid"  class="form-control">
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-lg-3">
                                        <span>类别名称：</span>
                                    </p>
                                    <p class="col-lg-8">
                                        <input type="text" name="category" class="form-control">
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-lg-3">
                                        <span>面积：</span>
                                    </p>
                                    <p class="col-lg-8">
                                        <input type="text" name="area" class="form-control">
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-lg-3">
                                        <span>床位数：</span>
                                    </p>
                                    <p class="col-lg-8">
                                        <input type="text" name="bedcount" class="form-control">
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-lg-11">
                                        <span>早餐：</span>
                                        <input type="radio" name="breakfast" value="是" checked="checked">是
                                        <input type="radio" name="breakfast" value="否">否
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-lg-11">
                                        <span>网络：</span>
                                        <input type="radio" name="network" value="是" checked="checked">是
                                        <input type="radio" name="network" value="否">否
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-lg-11">
                                        <span>电视：</span>
                                        <input type="radio" name="television" value="是" checked="checked">是
                                        <input type="radio" name="television" value="否">否
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-lg-3">
                                        <span>价格：</span>
                                    </p>
                                    <p class="col-lg-8">
                                        <input type="text" name="price" class="form-control">
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-lg-3">
                                        <span>房间数量：</span>
                                    </p>
                                    <p class="col-lg-8">
                                        <input type="text" name="count" class="form-control">
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-lg-3">
                                        <span>剩余数量：</span>
                                    </p>
                                    <p class="col-lg-8">
                                        <input type="text" name="rescount" class="form-control">
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"  id="Addbtn">确认</button>
                            <button type="button" class="btn btn-primary">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--修改信息-->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">修改信息</h4>
                        </div>
                        <div class="modal-body">
                            <div style="width: 70%;" id="bjyg"></div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="bcgg">确认</button>
                            <button type="button" class="btn btn-primary" id="togb">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--删除用户-->
            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            是否删除
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                            <button type="button" class="btn btn-primary" id="removebtn">YES</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--返回-->

            <!--客户信息表-->
            <div class="panel panel-default">
                <div class="panel-heading">房间类别</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>房间类别</th>
                        <th>类别名称</th>
                        <th>面积</th>
                        <th>床位数</th>
                        <th>早餐</th>
                        <th>网络</th>
                        <th>电视</th>
                        <th>价格</th>
                        <th>房间数量</th>
                        <th>剩余数量</th>
                    </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
                <div id="pagenavbox"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-1.12.3.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/PageNav.js"></script>
<script>
    $('#Addbtn').click(function () {
        var str=$('#addRoomCategory').serialize();
        console.log(str)
        $.post("/addRoom",str,function(data){
            if(data.result == 1){
                alert("添加成功！");
                $("input[type=text]").val("");
                // window.location="/staff";
                window.location.reload();
            }else if(data.result == -1){
                alert("提交失败，id被占用！");
            }else if(data.result == -2){
                alert("服务器错误！请联系管理员，怎么联系我也不知道！");
            }
        })
    })
    //删除
    $("#removebtn").click(function () {
        var radi=$("input[name=radio]:checked").val();
        if(radi==null){
            alert("什么也没选中!");
            return false;
        }else{
            var sid=$("input[name=radio]:checked").attr("data-id");
            $.ajax({
                url : "/removeRoom/" + sid,
                type : "delete",
                success : function(data){
                    if(data.result == 1){
                        alert("删除成功");
                        $(this).parents("tr").remove();
                        window.location.reload();
                        // window.location="/staff";
                    }else{
                        alert("服务器错误！");
                    }
                }
            });}
    })

    //更改页面
    $("#updata").click(function () {
        // alert(kk)
        var radi=$("input[name=radio]:checked").val();
        if(radi==null){
            alert("什么也没选中!");
            return false;
        }else{
            var sid=$("input[name=radio]:checked").attr("data-id");
            $.ajax({
                url : "/updataRoom/" + sid,
                type : "get",
                success : function(data){
                    // console.log(data.updata);
                    //     var dt=data.results
                    if(data.result == -1){
                        alert("服务器错误");
                    }else{
                        $('<form id="updateroom"></form>').html('<p><span>房间类别：</span><input class="form-control" type="text" name="sid" value="'+data.updata[0].sid+'" disabled></p><p><span>类别名称：</span><input class="form-control category" type="text" name="category" value="'+data.updata[0].category+'"></p><p><span>面积：</span><input class="form-control" type="text" name="area" value="'+data.updata[0].area+'"></p><p><span>床位数：</span><input class="form-control" type="text" name="bedcount" value="'+data.updata[0].bedcount+'"></p><p><span>早餐：</span><input type="radio" name="breakfast" value="是" checked="checked">是<input type="radio" name="breakfast" value="否">否</p><p><span>网络：</span><input type="radio" name="network" value="是" checked="checked">是<input type="radio" name="network" value="否">否</p><p><span>电视：</span><input type="radio" name="television" value="是" checked="checked">是<input type="radio" name="television" value="否">否<span></p></p>价格：</span><input class="form-control" type="text" name="price" value="'+data.updata[0].price+'"></p><p><span>房间数量：</span><input class="form-control" type="text" name="count" value="'+data.updata[0].count+'"></p><p><span>剩余数量：</span><input class="form-control" type="text" name="rescount" value="'+data.updata[0].rescount+'"></p>').appendTo($("#bjyg"));
                    }
                }
            });}
    })

    //点击确认更改
    $('#bcgg').click(function () {
        var str=$('#updateroom').serialize();
        console.log(str);
        var sid=$("input[name=radio]:checked").attr("data-id");
        $.post("/toupdataRoom/" + sid,str,function(data){
            if(data.result == 1){
                alert("修改成功！");
                window.location.reload();
                // window.location = "/";
            }else{
                alert("服务器错误！请联系管理员，怎么联系我也不知道！");
            }
        })
    })
    //close
    $('#togb').click(function () {
        $("#bjyg").html('');
        // $("#exampleModal2").fadeOut();
    })

    $.get("/allRoom?page=1",function(data){
        //分页条
        new PageNav({
            boxid : "pagenavbox",
            page : 1,
            pageAmount : data.pageAmount,
            change : function(pagenumber){
                gotopage(pagenumber);
            }
        });

        gotopage(1);
    });
    function gotopage(pagenumber){
        //清空
        $("#tbody").empty();

        //获得新的数据
        $.get("/allRoom?page=" + pagenumber,function(data){
            $.each(data.results,function(i, n){
                $tr = $("<tr></tr>");
                $("<td></td>").html('<input type="radio" name="radio" data-id="'+n._id+'"></td>').appendTo($tr);
                $("<td></td>").html(n.sid).appendTo($tr);
                $("<td></td>").html(n.category).appendTo($tr);
                $("<td></td>").html(n.area).appendTo($tr);
                $("<td></td>").html(n.bedcount).appendTo($tr);
                $("<td></td>").html(n.breakfast).appendTo($tr);
                $("<td></td>").html(n.network).appendTo($tr);
                $("<td></td>").html(n.television).appendTo($tr);
                $("<td></td>").html(n.price).appendTo($tr);
                $("<td></td>").html(n.count).appendTo($tr);
                $("<td></td>").html(n.rescount).appendTo($tr);
                $tr.appendTo($("#tbody"));
            });
        });
    }
</script>
</body>
</html>
